<h1>Welcome#sample</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= "Message from controller : #{@controller_message}" %>
<br>
<%= link_to("Go to index", {:controller => 'welcome', :action => 'index' , :id => 5, :random => "Ian"}) %>
